:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary: #a18268;
}

ul {
  list-style: none;
}

body {
  color: var(--color-primary-dark);
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-light);
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

.hero-title {
  color: var(--color-primary-light);
}

.accent {
  color: var(--color-brand-light);
}

.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.author-data {
  color: var(--color-secondary);
}
