@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --color-brand-lighter: #cfcfbc;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary: #a18268;
  --color-secondary-dark: #a18268;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-primary-light);
}

span {
  font-weight: 600;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-light);
}

.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/*NAV SECTION*/

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/*HERO SECTION*/

.hero-section {
  padding: 272px 0;
  text-align: center;
  background-image: url('../images/hero-section-bg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 800;
}

.accent {
  color: var(--color-brand-light);
}
/*ADVANTAGES SECTION*/

.advantages-section {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}
.advantages-list {
  color: var(--color-primary-light);
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.author-data {
  color: var(--color-secondary);
}

.uppercase {
  text-transform: uppercase;
}

.section-title {
  font-size: 64px;
  font-weight: 800;
}

.section-title.centered {
  text-align: center;
}

/*TRADITIONS SECTION*/

.traditions-section {
  padding-top: 96px;
}

.tradition-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
}

.traditions-text:nth-child(3) {
  max-width: 340px;
}

.traditions-content {
  max-width: 710px;
}

/*CHEFS SECTION*/

.chef-title {
  font-size: 40px;
  font-weight: 600;
}

.chefs-title {
  margin: 0 auto 80px;
  max-width: 520px;
}

.chefs-title::after,
.chefs-title::before {
  display: block;
  content: '';
  border: 2px solid var(--color-brand-lighter);
  width: 352px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

/*FORMATS SECTION*/

.format-card {
  border-radius: 16px;
  border: 1px solid forestgreen;
  height: 440px; /*my own code*/
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0) 72.92%,
    var(--color-primary-dark) 100%
  );
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-text {
  color: var(--color-primary-light);
  font-weight: 200;
  font-size: 14px;
}

.format-title {
  color: var(--color-primary-light);
  font-weight: 600;
  font-size: 24px;
}

.formats-title {
  margin-bottom: 80px;
}

/*SLIDER*/

.slider-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--color-primary-dark);
}

.slider-button:hover .formats-arrow {
  fill: var(--color-primary-light);
}

.formats-arrow {
  fill: var(--color-primary-dark);
}

/*CONTACTS SECTION*/

.contacts-title {
  margin-bottom: 16px;
}

.contacts-text {
  color: var(--color-brand-dark);
}

.contacts-warning {
  font-size: 12px;
}

/*FOOTER SECTION*/

.social-icon {
  fill: var(--color-primary-light);
}

.social-icon:hover {
  fill: var(--color-brand-light);
}

.footer {
  background-color: #31261a;
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
